body {
    max-width: 500px;
    margin: auto;
    background: #e61b1b;
    padding: 10px;
}

h1 {
    font-family: Arial;
    font-size: 1.5em;
}

label {
    width: 150px;
    display: inline-block;
}

table, th, td {
    border: 1px solid #e80f0f;
    border-collapse: collapse;
    padding: 5px;
}

th {
    text-align: left;
}

select, input[type="text"], input[type="number"] {
    width: 200px;
    box-sizing: border-box;
}