body {
    max-width: 500px;
    margin: auto;
    background: #f4c0c0;
    padding: 10px;
}

h1 {
    font-family: fantasy;
    font-size: 2em;
}

label {
    width: 150px;
    display: inline-block;
}

table, th, td {
    border: 3px solid #000000;
    border-collapse: collapse;
    padding: 5px;
}

th {
    text-align: left;
}

select, input[type="text"], input[type="number"] {
    width: 200px;
    box-sizing: border-box;
}