<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add new attraction</title>
    <link th:href="@{/main.css}" rel="stylesheet">
</head>
<body>
<h1>Add new attraction</h1>

<form th:action="@{/attractions/save}" th:object="${attraction}" method="post">

    <label for="name">Name:</label><br>
    <input type="text" id="name" th:field="*{name}" required><br>

    <label for="city">City:</label><br>
    <select id="city" th:field="*{city}">
        <option th:each="c : ${cities}" th:value="${c}" th:text="${c}"></option>
    </select><br>

    <label>Tags:</label><br>
    <div th:each="tag : ${tags}">
        <input type="checkbox" th:value="${tag}" th:field="*{tags}"> <span th:text="${tag}"></span><br>
    </div>

    <br>
    <button type="submit">Gem</button>
    <a th:href="@{/attractions}">Cancel</a>
</form>

</body>
</html>
