<!DOCTYPE html>
<html xmlns:th= "http://www.thymeleaf.org"  lang="en">
<head>
    <meta charset="UTF-8">
    <title>Touristattraction</title>
</head>
<body>
<h1>Touristattraction</h1>
<table>
    <tr th:if="${attractions.isEmpty()}"></tr>
    <tr th:if="${!attractions.isEmpty()}">
        <th>Name</th> <th>Beskrivelse</th> <th>By</th>
    </tr>
    <tr th:each="attraction: ${attractions}">
        <td th:text="${attraction.name}"></td>
        <td th:text="${attaction.description}"></td>
        <td th:text="${attraction.location}"></td>
        <td> <a th:href="@{/attractions/edit/{name}(name=${attraction.name})}"> Edit</a> </td>
    </tr>
</table>

<a th:href="@{/name/register}">Register a attraction</a>



</body>
</html>