<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Attractions</title>
</head>
<body>
<h1>Tourist Attractions</h1>

<table>
    <tr th:if="${attractionList.isEmpty()}">
        <td colspan="3">There are no attractions yet</td>
    </tr>
    <tr th:if="${!attractionList.isEmpty()}">
        <th>Name</th> <th>Description</th> <th>Tags</th>
    </tr>
    <tr th:each="TouristAttraction : ${attractionList}">
        <td th:text="${TouristAttraction.name}"></td>
        <td th:text="${TouristAttraction.description}"></td>
        <td><a th:href="@{'/attractions/' + ${TouristAttraction.name} + '/tags'}">Tags</a></td>
        <td><a th:href="@{'/attractions/' + ${TouristAttraction.name} + '/edit'}">Edit </a> </td>
    </tr>
</table>

<a th:href="@{/attractions/add}"><button>Add attraction</button></a>

</body>
</html>