<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Attractions</title>
    <link th:href="@{/main.css}" rel="stylesheet">
</head>
<body>
<h1>Tourist Attractions</h1>

<table>
    <tr th:if="${attractions.isEmpty()}">
        <td colspan="5">There are no attractions yet</td>
    </tr>
    <tr th:if="${!attractions.isEmpty()}">
        <th>Name</th>
        <th>Description</th>
        <th>Location</th>
        <th>Tags</th>
        <th>Update</th>
    </tr>
    <tr th:each="attraction : ${attractions}">
        <td th:text="${attraction.name}"></td>
        <td th:text="${attraction.description}"></td>
        <td th:text="${attraction.location}"></td>

        <td><a th:href="@{'/attractions/' + ${attraction.name} + '/tags'}">View Tags</a></td>
        <td><a th:href="@{'/attractions/' + ${attraction.name} + '/edit'}">Update</a></td>
    </tr>
</table>

<a th:href="@{/attractions/add}"><button>Add attraction</button></a>

</body>
</html>
